<div class="card" style="width: 20rem;">
  <img [src]="bookCover" class="card-img-top" alt="BookCover" height="200">
  <div class="card-body overflow-auto">
    <h5 class="card-title fs-6 text-nowrap fw-bold mb-1"><i class="fa fa-solid fa-book"></i>&nbsp;{{book.title}}</h5>
    <h5 class="card-subtitle fs-6 text-secondary mb-1"><i class="fa fa-solid fa-user-check"></i>&nbsp;{{book.authorName}}</h5>
    <h6 class="card-subtitle fs-6 text-secondary mb-1"><i class="fas fa-code"></i>&nbsp;{{book.isbn}}</h6>
    <h6 class="card-subtitle fs-6 text-secondary"><i class="fas fa-user"></i>&nbsp;{{book.isbn}}</h6>
    <hr>
    <p class="card-text">{{book.synopsis}}</p>
  </div>
  <div class="card-footer d-flex gap-2 justify-content-between align-items-center">
    <div class="d-flex gap-2">
      <app-rating [rating]="book.rate || 0"></app-rating>
      <span class="fw-bold" *ngIf="book.rate || 0 > 0">
        {{book.rate}}
      </span>
    </div>
    <div class="d-flex gap-2" *nfIf="!manage">
      <i (click)="onShowDetails()" class="fa fa-circle-info text-primary"></i>
      <i (click)="onBorrow()" class="fa fa-list-check text-primary"></i>
      <i (click)="onAddToWaitingList()" class="fa fa-heart text-danger"></i>
    </div>
    <div class="d-flex gap-2" *ngIf="manage">
      <i (click)="onEdit()" class="fa fa-edit text-success"></i>
      <i (click)="onShare()" class="fa fa-share-nodes text-primary"></i>
      <i (click)="onArchive()" class="fa fa-archive text-danger"></i>
    </div>
  </div>
</div>
